.footer {
    border: solid;
}
.footer-flexbox {
    display: flex;
    justify-content: center;
}
.footer-contact {
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
.footer-color {
    background-color: #7a7a7a;
}
.footer-additional {
    display: flex;
    justify-content: flex-end;
    background-color: #616161;
}
.time {
    margin-right: 10px;
    color: azure;
    font-size: 16px;
}