html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
.background {
    background-image: url("../background-img/background.png");
}
.border-test {
    border: solid;
}

.flex-container {
    display: flex;
}


