.footer {
    border: solid;
}
.footer-flexbox {
    display: flex;
    justify-content: center;
}
.footer-contact {
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
.footer-color {
    background-color: #7a7a7a;
}
.footer-additional {
    display: flex;
    justify-content: space-between;
    background-color: #616161;
    color: azure;
    font-size: 18px;
}
.language {
    margin-left: 10px;
}
.language-active{
    background-color: #303030;
}
.language-button{
    padding-left: 10px;
    padding-right: 10px;
}
.language-button:hover{
    cursor: pointer;
}
.language-ru{

}


.time {
    margin-right: 10px;
}