.header {
    display: flex;
}

.logo {
    width: 200px;
    height: 200px;
    padding: 5px 5px 5px 5px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center
}
.logo-img {
    width: 90%;
    height: 90%;
    margin: 0;
}
.aligner {
    width: 200px;
    height: 200px;
    margin-left: auto;
}

.header-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-size: 20px;
}