html {
    box-sizing: border-box;
    --header-size: 200px;
}

*, *::before, *::after {
    box-sizing: inherit;
}
.background {
    background-image: url("../background-img/background.png");
}
.relative {
    position: relative;
}
.border-test {
    border: solid;
}

.flex-container {
    display: flex;
    justify-content: center;
}


