.absolute {
    position: absolute;
    top: var(--header-size);
    bottom: 0;
    visibility: hidden;
}
.sidebar {
    border: solid;
    width: 15vw;
    min-width: 100px;
    font-size: 20px;
    height: 400px;
    position: sticky;
    top: calc(50vh - 200px);
    visibility: visible;
}
.sidebar-close {
    left: -100%;
    transition-property: left;
    transition-duration: 1s;
}
.sidebar-open {
    left: 0;
}
.sidebar-header {
    text-align: center;
}
.sidebar-button {
    min-width: 50px;
    cursor: pointer;
}
.sidebar-button-open {

}
.sidebar-button-close {

}