.main {
    border: solid;
    width: var(--width-survey-main);
    padding: 5%;
}
.question {
    font-size: 20px;
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 2%;
    border: solid;
}
.question-header {
    font-size: 30px;
}
.question-input{
    width: 300px;
    font-size: 16px;
    padding: 6px 6px 4px 10px;
    border: 2px solid #929090;
    background: #F6F6f6;
    border-radius: 8px;
}
.question-input:focus{
    outline: none;
    border-color: #333;
}
.question-input:active{
    outline: none;
    border-color: #333;
}

.question-number{
    width: 300px;
    font-size: 16px;
    padding: 6px 6px 4px 10px;
    border: 2px solid #929090;
    background: #F6F6f6;
    border-radius: 8px;
}
.question-number:focus{
    outline: none;
    border-color: #333;
}
.question-number:active{
    outline: none;
    border-color: #333;
}

.question-grid {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 1fr 1fr 1fr;
}
.checkbox-point {
    display: flex;
    align-items: center;
}
.checkbox-img {
    display: flex;
    justify-content: center;
}

.question-img-illumination{
    transition-property: border, opacity;
    transition-duration: 0.5s;
    border: 0;
    opacity: 1;
}
.question-img-illumination:hover {
    cursor: pointer;
    border: medium dashed red;
    opacity: 0.6;
}