.main {
    border: solid;
    width: var(--width-survey-main);
    padding: 5%;
}
.question {
    font-size: 20px;
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 2%;
    border: solid;
}
.question-header {
    font-size: 30px;
}
.question-grid {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 1fr 1fr 1fr;
}
.checkbox-point {
    display: flex;
    align-items: center;
}
.checkbox-img {
    display: flex;
    justify-content: center;
}