html {
 box-sizing: border-box;
}
*, *::before, *::after {
 box-sizing: inherit;
}
.border-test {
 border: solid;
}
.header {
 border: solid;
 display: flex;
}
.header-description {
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-grow: 1;
}
.header-name {
 align-self: center;
}
.logo {
 width: 200px;
 height: 200px;
 padding: 5px 5px 5px 5px;
}
.description {

}
.flex-container {
 display: flex;
}
.sidebar {
 border: solid;
 width: 15vw;
 min-width: 100px;
}
.sb-align {

}
.sb-size {
 width: 300px;
}
.main {
 border: solid;
 width: 85vw;
}
.footer {
 border: solid;
}

.alignment {

}
